In [1]:
import pandas as pd

## Birth Rates

In [90]:
birth_rate = pd.read_csv('../data/raw/birth_rate.csv', index_col=1)
birth_rate = birth_rate.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
birth_rate = birth_rate.dropna().T
birth_rate.head()

Country Code,ABW,AFG,AGO,ALB,ARB,ARE,ARG,ARM,ATG,AUS,...,VEN,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1960,4.820,7.45,7.478,6.489,6.948747,6.929,3.109,4.786,4.425,3.453,...,6.616,5.615,6.348,7.197,4.984026,7.651,7.488,6.041,7.115,7.158
1961,4.655,7.45,7.524,6.401,6.971370,6.910,3.100,4.670,4.386,3.540,...,6.637,5.651,6.392,7.120,5.011695,7.645,7.531,6.028,7.169,7.215
1962,4.471,7.45,7.563,6.282,6.992350,6.892,3.089,4.521,4.344,3.442,...,6.628,5.679,6.425,7.033,5.036590,7.630,7.575,6.010,7.214,7.267
1963,4.271,7.45,7.592,6.133,7.009265,6.875,3.078,4.345,4.299,3.332,...,6.581,5.696,6.448,6.938,5.058067,7.604,7.621,5.986,7.249,7.311
1964,4.059,7.45,7.611,5.960,7.020105,6.857,3.068,4.150,4.250,3.146,...,6.495,5.698,6.464,6.836,5.068204,7.567,7.665,5.956,7.274,7.347

## Arable Land (Percent)

In [79]:
arable_land = pd.read_csv('../data/raw/arable_land_percent.csv', index_col=1)
arable_land = arable_land.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2016', '2017', 'Unnamed: 62', '1960'], axis=1)
arable_land = arable_land.dropna().T
arable_land.head()

Country Code,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ASM,ATG,...,VGB,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1961,11.111111,11.717673,2.141654,15.766423,2.12766,3.382112,0.059809,6.795435,5.0,18.181818,...,6.666667,11.428571,17.051215,0.820345,9.693086,3.533569,2.390287,9.892094,3.428887,4.872690
1962,11.111111,11.794259,2.165717,15.912409,2.12766,3.383727,0.059809,7.008466,5.0,15.909091,...,6.666667,11.428571,17.051215,0.820345,9.726105,3.886926,2.411122,9.933311,3.432922,5.001939
1963,11.111111,11.870845,2.181760,16.058394,2.12766,3.400462,0.059809,7.161936,5.0,18.181818,...,6.666667,17.142857,17.051215,0.820345,9.836994,3.886926,2.433850,9.974528,3.465207,5.131188
1964,11.111111,11.947431,2.205823,16.167883,2.12766,3.428281,0.059809,7.308098,5.0,15.909091,...,6.666667,17.142857,17.051215,0.820345,9.884055,3.886926,2.452791,10.015745,3.498836,5.260437
1965,11.111111,11.947431,2.221866,16.788321,2.12766,3.462338,0.059809,7.476550,5.0,18.181818,...,6.666667,17.142857,17.051215,1.066448,9.945088,3.886926,2.471731,10.056962,3.502872,5.337986

## Arable Land (Per Person)

In [89]:
arable_pp = pd.read_csv('../data/raw/arable_land_per_person.csv', index_col=1)
arable_pp = arable_pp.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2016', '2017', 'Unnamed: 62', '1960'], axis=1)
arable_pp = arable_pp.dropna().T
arable_pp.head()

Country Code,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ASM,ATG,...,VGB,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1961,11.111111,11.717673,2.141654,15.766423,2.12766,3.382112,0.059809,6.795435,5.0,18.181818,...,6.666667,11.428571,17.051215,0.820345,9.693086,3.533569,2.390287,9.892094,3.428887,4.872690
1962,11.111111,11.794259,2.165717,15.912409,2.12766,3.383727,0.059809,7.008466,5.0,15.909091,...,6.666667,11.428571,17.051215,0.820345,9.726105,3.886926,2.411122,9.933311,3.432922,5.001939
1963,11.111111,11.870845,2.181760,16.058394,2.12766,3.400462,0.059809,7.161936,5.0,18.181818,...,6.666667,17.142857,17.051215,0.820345,9.836994,3.886926,2.433850,9.974528,3.465207,5.131188
1964,11.111111,11.947431,2.205823,16.167883,2.12766,3.428281,0.059809,7.308098,5.0,15.909091,...,6.666667,17.142857,17.051215,0.820345,9.884055,3.886926,2.452791,10.015745,3.498836,5.260437
1965,11.111111,11.947431,2.221866,16.788321,2.12766,3.462338,0.059809,7.476550,5.0,18.181818,...,6.666667,17.142857,17.051215,1.066448,9.945088,3.886926,2.471731,10.056962,3.502872,5.337986

## Birth Life Expectancy

In [99]:
birth_le = pd.read_csv('../data/raw/birth_life_expectancy.csv', index_col=1)
birth_le = birth_le.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
birth_le = birth_le.dropna().T
birth_le.head()

Country Code,ABW,AFG,AGO,ALB,ARB,ARE,ARG,ARM,ATG,AUS,...,VEN,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1960,65.662,32.292,33.251,62.279,46.825065,52.265,65.022,65.971,62.115,70.817073,...,59.253,66.224854,59.041,46.441,52.571658,49.748,34.361,52.215,45.124,51.565
1961,66.074,32.742,33.573,63.298,47.407699,53.312,65.141,66.402,62.555,70.973171,...,59.829,66.487976,59.722,47.044,53.077473,50.249,34.471,52.559,45.502,51.938
1962,66.444,33.185,33.914,64.187,47.988878,54.349,65.233,66.837,62.979,70.942439,...,60.395,66.741098,60.391,47.648,53.501598,50.750,34.739,52.894,45.869,52.300
1963,66.787,33.624,34.272,64.911,48.572229,55.375,65.311,67.276,63.385,70.911707,...,60.948,66.996220,61.024,48.251,54.035530,51.252,35.187,53.229,46.225,52.651
1964,67.113,34.060,34.645,65.461,49.159167,56.385,65.388,67.715,63.774,70.880976,...,61.488,67.260366,61.585,48.853,54.715222,51.756,35.815,53.571,46.574,52.993

## CO2 Emissions

In [107]:
co2_em = pd.read_csv('../data/raw/co2_emission.csv', index_col=1)
co2_em = co2_em.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2015', '2016', '2017', 'Unnamed: 62'], axis=1)
co2_em = co2_em.dropna().T
co2_em.head()

Country Code,AFG,AGO,ALB,ARB,ARE,ARG,ATG,AUS,AUT,BEL,...,UMC,URY,USA,VCT,VEN,VNM,WLD,WSM,YEM,ZAF
1960,0.046060,0.097472,1.258195,0.643689,0.118758,2.367473,0.662643,8.582937,4.373319,9.941594,...,1.682250,1.701583,15.999779,0.135900,7.005105,0.229309,3.099013,0.135007,0.702611,5.610092
1961,0.053604,0.079038,1.374186,0.685151,0.108837,2.442616,0.849084,8.641569,4.496362,10.103872,...,1.385467,1.602724,15.681256,0.133927,6.136885,0.237229,3.069727,0.163532,0.506779,5.703690
1962,0.073765,0.201289,1.439956,0.760855,0.163018,2.522392,1.796794,8.835688,4.755362,10.641190,...,1.260818,1.540657,16.013937,0.132214,6.155058,0.269494,3.140511,0.158350,0.726302,5.747719
1963,0.074233,0.192535,1.181681,0.874941,0.175223,2.316356,1.446821,9.226440,5.155194,11.386929,...,1.262008,1.639284,16.482762,0.174273,6.155746,0.255299,3.244499,0.184023,0.535971,5.811157
1964,0.086292,0.201003,1.111742,0.999098,0.132355,2.538379,1.540135,9.759073,5.391004,11.053655,...,1.294995,1.710099,16.968119,0.215531,5.973228,0.320829,3.360596,0.208092,0.655561,6.163809

## Death Rates

In [109]:
# Fix Comma Delimitation
death_raw = open('../data/raw/death_rate.csv', 'r').read().replace('rate,', 'rate').replace('1,000', '1000')
out = open('../data/raw/death_rate.csv', 'w')
out.write(death_raw)
out.close()

In [114]:
death_rates = pd.read_csv('../data/raw/death_rate.csv', index_col=1)
death_rates = death_rates.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
death_rates = death_rates.dropna().T
death_rates.head()

Country Code,ABW,AFG,AGO,ALB,ARB,ARE,ARG,ARM,ATG,AUS,...,VEN,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1960,6.388,32.396,32.293,11.328,19.854202,15.150,8.637,9.647,9.136,8.6,...,10.017,10.00,12.044,18.312,17.741428,14.568,30.562,14.815,19.758,15.601
1961,6.241,31.898,31.813,10.720,19.384555,14.196,8.689,9.250,8.970,8.5,...,9.721,9.68,11.658,17.781,15.023582,14.154,30.538,14.549,19.496,15.344
1962,6.118,31.414,31.313,10.176,18.920558,13.252,8.752,8.838,8.799,8.7,...,9.419,9.36,11.271,17.250,13.972581,13.749,30.363,14.293,19.235,15.088
1963,6.012,30.938,30.800,9.708,18.457337,12.330,8.821,8.420,8.618,8.7,...,9.111,9.04,10.897,16.719,13.749269,13.352,30.012,14.042,18.974,14.834
1964,5.920,30.467,30.282,9.321,17.992546,11.440,8.889,8.006,8.426,9.0,...,8.798,8.72,10.561,16.193,13.797060,12.968,29.481,13.791,18.708,14.584

## Mortality Rate (Female)

In [115]:
# Fix Comma Delimitation
mor_fem_raw = open('../data/raw/mortality_adult_female.csv', 'r').read().replace('rate,', 'rate').replace('adult,', 'adult').replace('1,000', '1000')
out = open('../data/raw/mortality_adult_female.csv', 'w')
out.write(mor_fem_raw)
out.close()

In [120]:
mor_fem = pd.read_csv('../data/raw/mortality_adult_female.csv', index_col=1)
mor_fem = mor_fem.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
mor_fem = mor_fem.dropna().T
mor_fem.head()

Country Code,ABW,AFG,AGO,ALB,ARB,ARE,ARG,ARM,ATG,AZE,...,VEN,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1960,181.484,551.122,498.232,151.058,298.731957,253.996,156.247,136.917,244.924,92.807,...,250.124,174.747,180.603,377.236,298.468540,403.943,459.634,313.308,367.315,306.201
1961,175.849,545.510,494.482,139.856,294.941374,246.851,151.895,131.925,241.326,93.540,...,243.292,171.937,174.713,370.656,293.754248,396.368,459.634,309.773,363.386,302.669
1962,170.213,539.898,490.731,128.654,290.919198,239.707,147.544,126.933,237.728,94.272,...,236.460,169.127,168.822,364.076,290.310686,388.793,459.634,306.237,359.456,299.137
1963,166.562,534.645,486.126,129.676,286.005384,233.785,146.334,123.152,234.223,95.001,...,229.642,166.008,166.210,358.259,281.513002,381.257,450.786,302.520,356.092,295.957
1964,162.911,529.392,481.521,130.698,281.160519,227.863,145.124,119.371,230.719,95.730,...,222.825,162.888,163.598,352.441,272.202929,373.722,441.938,298.803,352.727,292.777

## Mortality Rate (Male)

In [121]:
# Fix Comma Delimitation
mor_mal_raw = open('../data/raw/mortality_adult_male.csv', 'r').read().replace('rate,', 'rate').replace('adult,', 'adult').replace('1,000', '1000')
out = open('../data/raw/mortality_adult_male.csv', 'w')
out.write(mor_mal_raw)
out.close()

In [126]:
mor_mal = pd.read_csv('../data/raw/mortality_adult_male.csv', index_col=1)
mor_mal = mor_mal.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
mor_mal = mor_mal.dropna().T
mor_mal.head()

Country Code,ABW,AFG,AGO,ALB,ARB,ARE,ARG,ARM,ATG,AZE,...,VEN,VIR,VNM,VUT,WLD,WSM,YEM,ZAF,ZMB,ZWE
1960,227.253,604.597,561.897,160.480,359.314690,328.373,255.108,225.671,275.552,221.357,...,304.487,219.681,290.194,438.399,371.897377,526.225,518.341,384.643,424.636,361.745
1961,223.170,598.908,558.226,150.942,354.800418,318.924,252.663,219.648,272.245,221.348,...,298.528,216.516,283.509,431.485,366.636985,518.789,518.341,380.662,420.184,358.003
1962,219.087,593.219,554.556,141.405,350.206135,309.474,250.219,213.626,268.938,221.340,...,292.569,213.350,276.824,424.571,362.946529,511.354,518.341,376.680,415.732,354.261
1963,215.330,587.752,549.975,143.060,345.429613,301.397,250.998,208.400,266.171,221.330,...,288.324,209.788,276.837,418.022,351.297185,503.744,509.811,372.505,412.389,351.081
1964,211.574,582.284,545.395,144.716,340.651254,293.320,251.778,203.175,263.405,221.321,...,284.078,206.226,276.850,411.473,338.704935,496.135,501.281,368.330,409.046,347.902

## Mortality Rate (Infants)

In [127]:
# Fix Comma Delimitation
mor_inf_raw = open('../data/raw/mortality_rate_infant.csv', 'r').read().replace('rate,', 'rate').replace('1,000', '1000')
out = open('../data/raw/mortality_rate_infant.csv', 'w')
out.write(mor_inf_raw)
out.close()

In [131]:
mor_inf = pd.read_csv('../data/raw/mortality_rate_infant.csv', index_col=1)
mor_inf = mor_inf.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
mor_inf = mor_inf.dropna().T
mor_inf.head()

Country Code,AFG,ARE,AUS,AUT,BEL,BEN,BFA,BGD,BHR,BOL,...,TTO,TUR,TZA,UGA,URY,USA,VEN,VUT,ZMB,ZWE
1960,240.5,134.4,20.3,37.2,29.5,191.4,155.3,172.9,134.4,174.4,...,55.5,172.6,143.2,131.5,57.7,25.9,58.9,105.6,122.2,92.5
1961,236.2,128.4,19.9,35.0,28.1,188.1,153.7,168.6,123.7,171.3,...,53.9,167.3,141.9,128.9,56.5,25.4,57.2,103.2,120.0,90.0
1962,232.2,122.2,19.5,32.9,27.0,184.3,152.2,164.7,113.8,168.2,...,52.2,161.9,140.4,126.5,55.0,24.9,55.7,100.6,118.0,87.5
1963,228.3,116.1,19.1,31.2,26.0,180.1,150.8,161.1,104.8,165.1,...,50.7,156.5,138.9,124.2,53.6,24.3,54.5,97.8,116.3,85.0
1964,224.6,109.9,18.7,29.6,25.0,175.6,149.5,157.9,96.2,162.0,...,49.3,151.5,137.3,122.0,52.7,23.8,53.4,94.9,115.0,82.5

## Mortality Rate (Under 5)

In [132]:
# Fix Comma Delimitation
mor_u5_raw = open('../data/raw/mortality_rate_under_5.csv', 'r').read().replace('rate,', 'rate').replace('1,000', '1000')
out = open('../data/raw/mortality_rate_under_5.csv', 'w')
out.write(mor_u5_raw)
out.close()

In [136]:
mor_u5 = pd.read_csv('../data/raw/mortality_rate_under_5.csv', index_col=1)
mor_u5 = mor_u5.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
mor_u5 = mor_u5.dropna().T
mor_u5.head()

Country Code,AFG,ARE,AUS,AUT,BEL,BEN,BFA,BGD,BHR,BOL,...,TTO,TUR,TZA,UGA,URY,USA,VEN,VUT,ZMB,ZWE
1960,356.5,199.9,24.9,42.8,33.9,321.2,342.0,259.2,200.0,289.1,...,67.1,258.7,242.3,222.6,64.0,30.1,79.5,153.4,205.7,150.4
1961,350.5,190.4,24.3,40.2,32.4,315.9,338.0,252.8,182.9,283.0,...,64.8,250.8,240.1,217.8,62.6,29.5,76.8,149.5,201.6,145.9
1962,344.8,180.6,23.7,37.9,31.1,309.9,334.3,247.0,166.8,277.0,...,62.6,242.8,237.6,213.5,61.0,28.9,74.4,145.3,197.9,141.3
1963,339.3,170.6,23.2,35.9,30.0,303.1,330.8,241.6,152.0,271.1,...,60.6,234.7,235.0,209.4,59.6,28.3,72.5,140.7,194.9,136.7
1964,334.1,160.4,22.7,34.2,28.9,295.7,327.6,236.7,138.3,265.1,...,58.7,227.1,232.3,205.4,58.6,27.7,70.8,136.3,192.4,132.2

## Net Official Development Assistance Recieved

In [140]:
dev_ass = pd.read_csv('../data/raw/net_official_dev_assistance_received.csv', index_col=1)
dev_ass = dev_ass.drop(['Country Name', 'Indicator Name', 'Indicator Code', '2017', 'Unnamed: 62'], axis=1)
dev_ass = dev_ass.dropna().T
dev_ass.head()

Country Code,AFG,ARB,ARG,BDI,BEN,BFA,BLZ,BOL,BRA,BWA,...,TZA,UGA,UMC,URY,VEN,VNM,VUT,WLD,YEM,ZMB
1960,17180000.0,881990000.0,28580000.0,7530000.0,20000.0,200000.0,1820000.0,12080000.0,24110000.0,3430000.0,...,10360000.0,20600000.0,7.016200e+08,17330000.0,-7490000.0,191850000.0,150000.0,4.233300e+09,14690000.0,920000.0
1961,34670000.0,973930000.0,29180000.0,7190000.0,1480000.0,1350000.0,2820000.0,23630000.0,266570000.0,5460000.0,...,39190000.0,21230000.0,1.309530e+09,-570000.0,-4880000.0,167110000.0,280000.0,5.194720e+09,14880000.0,910000.0
1962,16930000.0,929090000.0,39800000.0,11070000.0,3750000.0,4430000.0,5520000.0,35910000.0,166560000.0,5240000.0,...,47010000.0,28770000.0,1.252040e+09,1950000.0,68890000.0,176030000.0,410000.0,5.330990e+09,18080000.0,5880000.0
1963,36670000.0,858610000.0,37800000.0,6160000.0,4260000.0,4140000.0,4060000.0,53500000.0,197240000.0,5330000.0,...,31060000.0,19590000.0,1.151710e+09,12270000.0,47720000.0,226670000.0,510000.0,5.876930e+09,21580000.0,5380000.0
1964,46170000.0,831420000.0,17220000.0,8090000.0,18070000.0,15400000.0,1550000.0,40920000.0,249000000.0,8870000.0,...,45650000.0,22490000.0,8.869900e+08,4420000.0,-51700000.0,244990000.0,650000.0,5.869820e+09,23330000.0,20990000.0

## Population Growth

In [144]:
pop_growth = pd.read_csv('../data/raw/population_growth.csv', index_col=1)
pop_growth = pop_growth.drop(['Country Name', 'Indicator Name', 'Indicator Code', 'Unnamed: 62'], axis=1)
pop_growth = pop_growth.dropna().T
pop_growth.head()

Country Code,ABW,AFG,AGO,ALB,AND,ARE,ARG,ARM,ASM,ATG,...,VGB,VIR,VNM,VUT,WSM,XKX,YEM,ZAF,ZMB,ZWE
1960,3.148037,1.816077,1.903517,3.015423,7.050663,5.859584,1.630874,3.596386,1.403903,1.121208,...,1.265285,4.725288,3.020929,3.036259,3.052203,2.026736,1.668753,2.593165,3.012665,3.199877
1961,2.238144,1.876528,1.927754,3.120855,6.941532,8.723625,1.606889,3.531702,2.335966,1.444191,...,1.507318,5.390526,3.003488,3.112791,3.146592,1.986474,1.694071,2.622255,3.085655,3.239584
1962,1.409622,1.934999,1.945774,3.056731,6.692697,10.681181,1.584309,3.444264,3.033668,1.765458,...,1.738329,2.020271,2.977189,3.138341,3.220013,2.857337,1.720650,2.648309,3.144761,3.269926
1963,0.832453,1.992521,1.930693,2.953749,6.559522,11.012721,1.557532,3.330247,3.558598,1.992477,...,1.838858,12.851885,2.948605,3.130064,3.206577,2.777956,1.746020,2.668551,3.175555,3.279540
1964,0.592649,2.049423,1.870296,2.880686,6.241511,9.824817,1.524221,3.193727,3.661243,2.088042,...,2.049372,2.481517,2.921171,3.050309,3.123157,2.702867,1.770406,2.681810,3.171658,3.263725